pkgbase = yt-dlp-config
	pkgdesc = System-wide yt-dlp config forcing Node.js JS runtime
	pkgver = 20251228
	pkgrel = 1
	url = https://github.com/yt-dlp/yt-dlp
	arch = any
	license = custom
	depends = yt-dlp
	depends = nodejs
	backup = etc/yt-dlp/config
	source = config
	sha256sums = 6e65e2ea21997faa1bb886bf019a1f2a6f978372748ccad009f0f31de0e7816a

pkgname = yt-dlp-config
